
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>

    </head>

    <body>
        
        <!-- animated background -->
        <div class="bubbles">

            <!-- bubbles start -->
            <div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div> <!-- bubbles end -->


            
            <!-- body container -->
            <div class="container-fluid">
                <!-- row container -->
                <div class="row flex-nowrap">

                    <!-- side bar navigation -->
                    <div class="col-auto px-0">
                        <div id="sidebar" class="collapse collapse-horizontal show border-end">
                            <div class="boards-header text-nowrap">
                                Boards
                            </div>
                            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                                <a href="#" 
                                    class="list-group-item border-end-0 d-inline-block text-truncate" 
                                    data-bs-parent="#sidebar"
                                    *ngFor="let board of boards">
                                    <span class="board-name" (click)="setCurrentBoard(board)">{{ board.name }}</span>
                                    <span class="delete-board-icon" (click)="deleteBoard(board)">
                                        <i class="bi bi-trash3"></i>
                                    </span>
                                </a>
                                <p class="add-new-board border-end-0 d-inline-block" (click)="addNewBoard()">Add New Board</p>
                                <!-- <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Item</a>
                                <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Item</a>
                                <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Item</a>
                                <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Item</a>
                                <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">Item</a> -->
                            </div>
                        </div>
                    </div> <!-- side bar navigation -->

                    <!-- main content -->
                    <div class="col ps-md-2">

                        <!-- top navigation -->
                        <nav class="navbar navbar-light bg-light">
                            <a class="navbar-brand" 
                                href="#" 
                                data-bs-target="#sidebar" 
                                data-bs-toggle="collapse">
                                <i class="bi bi-kanban"></i> Kanban
                            </a>
                            
                            <!-- search bar -->
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form> <!-- search bar -->

                        </nav> <!-- top navigation -->
                        
                        
                        <div class="root">

                            <div class="board">

                                <!-- <div class="board-bar">
                                    <p class="board-name">
                                        {{ board.name }}
                                    </p>
                                </div> board bar -->

                                <div class="board-wrapper">

                                    <div class="board-columns" *ngFor="let board of boards">

                                            <div class="board-column" *ngFor="let column of board.columns">

                                                <div class="column-title">
                                                    {{ column.name }}
                                                </div> <!-- column title -->

                                                <div class="tasks-container">
                                                    <div class="task" *ngFor="let item of column.tasks">
                                                        {{ item }}
                                                    </div>
                                                </div> <!-- tasks container -->

                                            </div> <!-- board column -->

                                    </div> <!-- board columns -->
                                
                                </div> <!-- board wrapper -->


                            </div> <!-- board -->

                        </div> <!-- root -->

                    </div> <!-- main content-->



                </div> <!-- row container -->
            </div> <!-- body container -->



        </div> <!-- animated background -->
        
    </body>

</html>

