
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
    </head>

    <body>

        <div>

            <!-- edit board modal -->
            <div class="modal fade" id="modifyBoardModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <!-- modal header -->
                        <div class="modal-header">
                            <h5 class="modal-title" *ngIf="currentBoard != null">
                                Modify {{currentBoard.name}}
                            </h5>
                            <!-- x button -->
                            <button type="button" class="close"data-bs-dismiss="modal">
                                <span><i class="bi bi-x"></i></span>
                            </button>
                        </div> <!-- modal header -->

                        <!-- modal body -->
                        <div class="modal-body">

                            <!-- success alert -->
                            <!-- <div id="modify-board-success" class="alert alert-success alert-dismissible fade" role="alert">
                                <i class="bi bi-check2-all"></i>
                                A simple success alert—check it out!
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div> success alert -->

                            <!-- collapsible accordion -->
                            <div id="accordion" *ngIf="currentBoard != null">

                                <!-- edit board name -->
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn dropdown-toggle"
                                                id="edit-board-name-btn"
                                                data-bs-toggle="collapse" 
                                                data-bs-target="#collapseOne"
                                                (click)="modifyBoardToggleValidation('board name')">
                                                Board Name
                                            </button>
                                        </h5>
                                    </div>
                            
                                    <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">

                                            <h5 class="card-title">
                                                Edit Board Name
                                            </h5>

                                            <div class="card">
                                                <div class="card-body">

                                                    <form class="needs-validation">
                                                        <div class="form-group">
                                                            <label for="new-board-name">New Board Name</label>
                                                            <input type="text" class="form-control" id="new-board-name" placeholder="Enter new board name" (keyup)="modifyBoardToggleValidation('board name')">
                                                            <small id="board-name-feedback" class="form-text text-muted">This field cannot be left blank</small>
                                                        </div>
                                                    </form>

                                                </div> <!-- card body -->

                                                <div class="card-footer text-right">
                                                    <!-- delete -->
                                                    <button type="button"
                                                        (click)="modifyBoard(currentBoard, 'board name')"
                                                        class="btn btn-success"
                                                        id="save-board-name"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseOne">
                                                        Update
                                                    </button>
                                                </div> <!-- card footer -->

                                            </div> <!-- card -->

                                        </div> <!-- card body -->
                                    </div> <!-- collapse one -->

                                </div> <!-- edit board name -->

                                <!-- edit board description -->
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn dropdown-toggle collapsed"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo"
                                                (click)="modifyBoardToggleValidation('board description')">
                                                Board Description
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">

                                            <h5 class="card-title">
                                                Edit Board Description
                                            </h5>

                                            <div class="card">
                                                <div class="card-body">

                                                    <form>
                                                        <div class="form-group">
                                                            <label for="board-description">Board Description</label>
                                                            <textarea class="form-control"
                                                                (keyup)="modifyBoardToggleValidation('board description')"
                                                                id="board-description"
                                                                rows="3"
                                                                placeholder="Enter a description of your board"></textarea>
                                                        </div>
                                                    </form>

                                                </div> <!-- card body -->

                                                <div class="card-footer text-right">
                                                    <!-- delete -->
                                                    <button type="button"
                                                        (click)="modifyBoard(currentBoard, 'board description')"
                                                        class="btn btn-success"
                                                        id="save-board-description"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseTwo">
                                                        Save
                                                    </button>
                                                </div> <!-- card footer -->

                                            </div> <!-- card -->

                                        </div> <!-- card body -->
                                    </div> <!-- collapse two -->

                                </div> <!-- edit board description -->

                                <!-- edit board template -->
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn dropdown-toggle collapsed"
                                                (click)="modifyBoardToggleValidation('board template')"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree">
                                                Board Template
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Edit Board Template
                                            </h5>

                                            <!-- card -->
                                            <div class="card">

                                                <!-- card body -->
                                                <div class="card-body">

                                                </div> <!-- card body -->

                                                <!-- card footer -->
                                                <div class="card-footer text-right">
                                                    <!-- install -->
                                                    <button type="button"
                                                        (click)="modifyBoard(currentBoard, 'board template')" 
                                                        class="btn btn-success" 
                                                        id="install-board-template"
                                                        data-bs-toggle="collapse" 
                                                        data-bs-target="#collapseThree">
                                                        Install
                                                    </button>
                                                </div> <!-- card footer -->

                                            </div> <!-- card -->
                                        
                                        </div> <!-- card body -->
                                    </div> <!-- collapse three -->

                                </div> <!-- edit board template -->

                                <!-- clear board contents -->
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn dropdown-toggle collapsed"
                                                (click)="modifyBoardToggleValidation('clear all')"
                                                data-bs-toggle="collapse" 
                                                data-bs-target="#collapseFour">
                                                Clear Board Contents
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Clear Board Contents
                                            </h5>

                                            <div class="card">
                                                <div class="card-header">

                                                    <ul id="clear-board-tabs" class="nav nav-tabs card-header-tabs">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-bs-toggle="tab" href="#clearTasks" (click)="modifyBoardToggleValidation('clear all')">Tasks</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-bs-toggle="tab" href="#clearLists" (click)="modifyBoardToggleValidation('clear all')">Lists</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-bs-toggle="tab" href="#clearAll" (click)="modifyBoardToggleValidation('clear all')">Clear All</a>
                                                        </li>
                                                    </ul> <!-- nav tabs -->

                                                </div> <!-- card header -->

                                                <div class="card-body">
                                                    
                                                    <div class="tab-content d-flex justify-content-center text-center">
                                                        <div id="clearTasks" class="tab-pane active bg-white border-0">
                                                            <p>
                                                                Clear all # tasks. <br>
                                                                <small><i>This action cannot be reversed</i></small>
                                                            </p>
                                                        </div> <!-- clear tasks -->
                                                        <div id="clearLists" class="tab-pane bg-white border-0">
                                                            <p>
                                                                Clear all # lists. <br>
                                                                <small><i>This action cannot be reversed</i></small>
                                                            </p>
                                                        </div> <!-- clear lists -->
                                                        <div id="clearAll" class="tab-pane bg-white border-0">
                                                            <p>
                                                                Clear all board content. <br>
                                                                <small><i>This action cannot be reversed</i></small>
                                                            </p>
                                                        </div> <!-- clear all -->
                                                    </div> <!-- tab content -->
                                                    
                                                </div> <!-- card body -->

                                                <!-- card footer -->
                                                <div class="card-footer text-right">
                                                    <!-- delete -->
                                                    <button type="button"
                                                        (click)="modifyBoard(currentBoard, 'clear all')"
                                                        class="btn btn-danger"
                                                        id="delete-board-contents"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseFour">
                                                        Delete
                                                    </button>
                                                </div> <!-- card footer -->
                                                
                                            </div> <!-- card -->



                                        </div> <!-- card body -->
                                    </div> <!-- collapse four-->

                                </div> <!-- clear board contents -->

                            </div> <!-- accordion -->

                        </div> <!-- modal body -->

                        <!-- modal footer -->
                        <div class="modal-footer">
                            <!-- close -->
                            <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                (click)="closeModifyBoardModal()">
                                Close
                            </button>
                        </div> <!-- model footer -->

                    </div> <!-- modal content -->
                </div> <!-- modal dialog -->
            </div> <!-- edit board modal -->

            

            <!-- rename column modal -->
            <div class="modal fade" id="renameColumnModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <!-- modal header -->
                        <div class="modal-header">
                            <h5 class="modal-title">Rename Column</h5>
                            <button type="button" class="close" data-bs-dismiss="modal">
                                <span><i class="bi bi-x"></i></span>
                            </button>
                        </div> <!-- modal header -->

                        <!-- modal body -->
                        <div class="modal-body" (keyup)="renameColumn()">
                            <form>
                                <div class="form-group">
                                    <label>Enter Column Name</label>
                                    <input type="text" class="form-control" id="rename-column" placeholder="New List">
                                    <small id="rename-column-feedback" class="form-text text-muted">This field cannot be blank</small>
                                </div>
                            </form>
                        </div> <!-- modal body -->

                        <!-- modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="rename-column-close" data-bs-dismiss="modal" (click)="renameColumn('close')">Close</button>
                            <button type="button" class="btn btn-success disabled" id="rename-column-save" data-bs-dismiss="modal" (click)="renameColumn('save')">Save</button>
                        </div> <!-- modal footer -->

                    </div> <!-- modal content -->
                </div> <!-- modal dialog -->
            </div> <!-- rename column modal -->



            <!-- edit task modal -->
            <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        
                        <!-- modal header -->
                        <div class="modal-header" *ngIf="currentTask != null">                      

                            <h5 class="modal-title">
                                <span><i class="bi bi-card-text"></i></span>
                                <span> {{currentTask.name}}</span>
                            </h5>
                                                            
                            <!-- x button -->
                            <button type="button" class="close" data-bs-dismiss="modal">
                                <i class="bi bi-x"></i>
                            </button>
                            
                        </div> <!-- modal header -->

                        <!-- modal body container -->
                        <div class="container">                                    
                            <div class="modal-body">

                                <!-- row -->
                                <div class="row">

                                    <!-- left col -->
                                    <div class="col-lg-8">

                                        <!-- edit task description -->
                                        <!-- style="background:green" -->
                                        <div class="edit-task-description">
                                            
                                            <!-- title -->
                                            <div class="edit-task-description-title">
                                                <span><i class="edit-task-description-icon bi bi-justify-left"></i></span>
                                                <span> Description</span>
                                            </div> <!-- title -->

                                            <!-- content text area -->
                                            <div class="edit-task-description-content">
                                                <div class="form-group">
                                                    <textarea class="form-control edit-task-description-input" id="edit-task-description-input" placeholder="Add a description"></textarea>
                                                </div>
                                                <div class="text-right">
                                                    <button type="button" class="btn btn-light">Cancel</button>
                                                    <span>&nbsp;</span>
                                                    <button type="button" class="btn btn-success">Save</button>
                                                </div>
                                            </div> <!-- content text area -->

                                        </div> <!-- edit-task-description -->

                                        <!-- edit task activity -->
                                        <!-- <div class="edit-task-activity" style="background:teal">
                                            
                                            title
                                            <div class="edit-task-activity-title">
                                                <span><i class="edit-task-activity-icon bi bi-card-checklist"></i></span>
                                                <span> Activity</span>
                                            </div> title

                                            input
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Write a comment">
                                                <button type="button" class="btn btn-success">Save</button>
                                            </div> input
                                            
                                        </div> edit task activity -->

                                    </div> <!-- left col -->

                                    <!-- right col-->
                                    <!-- style="background:red" -->
                                    <div class="col-lg-4">
                                        <small>Add to Task</small>
                                        <div class="list-group border-0 rounded-0 text-sm-start">
                                            <a class="list-group-item">Labels</a>
                                            <a class="list-group-item disabled">Checklist</a>
                                            <a class="list-group-item disabled">Dates</a>
                                        </div>
                                    </div> <!-- right col -->

                                </div> <!-- row -->

                            </div> <!-- modal body -->
                        </div> <!-- modal body container -->

                        <!-- modal footer -->
                        <div class="modal-footer"></div>

                    </div> <!-- modal content -->
                </div> <!--modal dialog -->
            </div> <!-- edit task modal -->


            
            <!-- body container -->
            <div class="container-fluid">
                <!-- row container -->
                <div class="row flex-nowrap">

                    

                    <!-- sidebar navigation col-->
                    <div class="col-auto px-0 menu">
                        <div id="sidebar" class="show collapse collapse-horizontal border-end">
                            
                            <div class="menu-header text-nowrap">
                                Menu <i class="close-sidebar-icon bi bi-x"
                                            data-bs-target="#sidebar"
                                            data-bs-toggle="collapse"></i>
                            </div> <!-- menu-header -->
                            
                            <!-- sidebar nav -->
                            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                                
                                <!-- boards subheader -->
                                <div class="menu-subheader">Boards</div>
                                <!-- boards for-->
                                <a href="#" 
                                    class="list-group-item border-end-0 d-inline-block text-truncate" 
                                    data-bs-parent="#sidebar"
                                    *ngFor="let board of boards">
                                    
                                    <span class="board-name"
                                        (click)="setCurrentBoard(board)">
                                        {{ board.name }}
                                    </span>
                                    
                                    <span class="board-icons">

                                        <i class="bi bi-pencil-square rename-board-icon"
                                            (click)="setCurrentBoard(board)"
                                            title="Edit"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modifyBoardModal"></i>

                                        <span style="padding:4px"></span>

                                        <i class="bi bi-trash3 delete-board-icon"
                                            (click)="deleteBoard(board)"
                                            title="Delete"></i>

                                    </span>
                                    
                                </a> <!-- boards for -->
                            
                                <p class="add-new-board border-end-0 d-inline-block" (click)="addNewBoard()">Add New Board</p>
                                
                                

                                <!-- settings subheader -->
                                <div class="menu-subheader" style="margin-top: -15px; border-top:1px solid #d9d9d9">Settings</div>
                                <!-- settings -->
                                <div href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">
                                    <span class="board-name">About</span>                                   
                                </div>
                                <div href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">
                                    <span class="board-name">Notifications</span>
                                </div>
                                <div href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">
                                    <span class="board-name">Activity</span>
                                </div>
                                
                            </div> <!-- sidebar nav -->

                        </div> <!-- sidebar -->
                    </div> <!-- sidebar navigation col -->



                    <!-- main content -->
                    <div class="col ps-md-2">

                        <!-- top navigation -->
                        <nav class="navbar navbar-light bg-light">
                            
                            <a class="navbar-brand"
                                href="#" 
                                data-bs-target="#sidebar" 
                                data-bs-toggle="collapse">
                                <i class="bi bi-kanban"></i> Kanban
                            </a> <!-- navbar logo/icon -->
                            
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form> <!-- search bar -->
                            
                        </nav> <!-- top navigation -->
                        


                        <!-- root -->
                        <div class="root">
                            <!-- board -->
                            <div class="board">
                                <!-- board wrapper -->
                                <div class="board-wrapper">

                                    <!-- (CARD) if null current board -->
                                    <div class="container null-current-board-container d-flex align-items-center justify-content-center" *ngIf="currentBoard == null">
                                        <div class="card null-current-board-card">
                                            
                                            <div class="card-header">
                                                <i class="bi bi-kanban"></i> <strong> Kanban</strong>
                                            </div>

                                            <!-- image and overlay text -->
                                            <div class="img-container">
                                                <img class="card-img-top" src="../assets/idea-lightbulb.jpg" alt="Lightbulb with paperclips and crumbled sticky notes surrounding it - Image by Freepik">
                                                <div class="card-overlay-text">
                                                    Hello!
                                                </div>   
                                            </div>

                                            <!-- card body -->
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    Select a board to continue
                                                </h5>

                                                <!-- card text -->
                                                <p class="card-text">
                                                    Currently, there is no board selected to display.
                                                    <span *ngIf="this.boards.length == 0"> Add a new board to your collection to continue.</span>
                                                    <span *ngIf="this.boards.length != 0"> Add a new board or select an existing one from your collection to continue.</span>
                                                </p>

                                                <!-- card buttons -->
                                                <div class="text-center">

                                                    <a href="#"
                                                        class="btn btn-light"
                                                        data-bs-target="#sidebar" 
                                                        data-bs-toggle="collapse"
                                                        (click)="addNewBoard()">
                                                        Add New Board
                                                    </a>
                                                    <span style="padding: 5px"></span>
                                                    <a href="#"
                                                        class="btn btn-light"
                                                        data-bs-target="#sidebar" 
                                                        data-bs-toggle="collapse"
                                                        *ngIf="this.boards.length != 0">
                                                        Select Existing Board
                                                    </a>

                                                </div> <!-- card buttons -->

                                            </div> <!-- card body -->

                                        </div> <!-- card -->
                                    </div> <!-- null current board container -->
                                    


                                    <!-- board-columns -->
                                    <div class="board-columns" *ngIf="currentBoard != null">

                                            <div class="board-column" *ngFor="let column of currentBoard.columns">

                                                <!-- column title -->
                                                <div class="container-fluid">
                                                    <div class="row">

                                                        <!-- column name -->
                                                        <div class="col column-title"
                                                            id="column-title">
                                                            {{column.name}}
                                                        </div> <!-- column name -->
                                                        <!-- column actions -->
                                                        <div class="col-auto">
                                                            
                                                            <div class="column-actions d-flex justify-content-center"
                                                                data-bs-toggle="dropdown"
                                                                (click)="setCurrentColumn(currentBoard, column)">
                                                                <i class="bi bi-three-dots"></i>
                                                            </div> <!-- ellipses icon -->
                                                            
                                                            <!-- column actions dropdown -->
                                                            <div class="dropdown-menu">
                                                                <h6 class="dropdown-header">List Actions</h6>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item column-action-item"
                                                                    (click)="addTask(currentBoard, column)">
                                                                    Add Task
                                                                </a>
                                                                <!-- (click)="renameColumn(currentBoard, column)"
                                                                data-toggle="modal"
                                                                data-target="#renameColumnModal" -->
                                                                <a class="dropdown-item column-action-item"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#renameColumnModal">
                                                                    Rename
                                                                </a>
                                                                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item column-action-item"
                                                                    (click)="deleteColumn(currentBoard, column)">
                                                                    Delete List
                                                                </a>
                                                            </div> <!-- column actions dropdown -->
                                                            
                                                        </div> <!-- column actions -->

                                                    </div> <!-- row -->
                                                </div> <!-- column title -->

                                                <!-- tasks container -->
                                                <div class="tasks-container">
                                                    <div class="task"
                                                        (click)="setCurrentTask(currentBoard, column, item)"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#editTaskModal"
                                                        *ngFor="let item of column.tasks">
                                                        <span class="task-name">{{ item.name }}</span>
                                                        <span><i class="delete-task-icon bi bi-trash3" (click)="deleteTask(currentBoard, column, item)"></i></span>
                                                    </div>
                                                    <div class="task-creator" (click)="addTask(currentBoard, column)">
                                                        Add Task
                                                        <span class="add-task-icon"><i class="bi bi-plus"></i></span>
                                                    </div>
                                                </div> <!-- tasks container -->

                                            </div> <!-- board column -->

                                            <div class="board-column" (click)="addColumn(currentBoard)">
                                                <p>Add New List
                                                <span class="add-task-icon"><i class="bi bi-plus"></i></span>
                                                </p>
                                            </div>

                                    </div> <!-- board columns -->
                                


                                </div> <!-- board wrapper -->
                            </div> <!-- board -->
                        </div> <!-- root -->




                    </div> <!-- main content-->



                </div> <!-- row container -->
            </div> <!-- body container -->


            
        </div>
        
    </body>

</html>

