
/** BACKGROUND ANIMATION **/
body {
    // background: rgb(26, 30, 35);
    background: rgba(26, 30, 35, 0.95);
    margin: 0;
    padding: 0;
}

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min +floor($rand * (($max - $min) + 1));
    @return $random_range;
}

@function sample($list) {
    @return nth($list, random(length($list)));
}

.bubbles {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubble {
    position: absolute;
    left: var(--bubble-left-offset);
    bottom: -75%;
    display: block;
    width: var(--bubble-radius);
    height: var(--bubble-radius);
    border-radius: 50%;
    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(183, 94%, 76%, 0.3);
        border-radius: inherit;
        animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
    }

    @for $i from 0 through $bubble-count {
        &:nth-child(#{$i}) {
            --bubble-left-offset: #{random_range(0vw, 100vw)};
            --bubble-radius: #{random_range(1vw, 10vw)};
            --bubble-float-duration: #{random_range(4s, 18s)};
            --bubble-sway-duration: #{random_range(4s, 6s)};
            --bubble-float-delay: #{random_range(0s, 4s)};
            --bubble-sway-delay: #{random_range(0s, 4s)};
            --bubble-sway-type: #{sample($sway-type)};
        }
    }
}

@keyframes float-up {
    to {
        transform: translateY(-175vh);
    }
}

@keyframes sway-left-to-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes sway-right-to-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

/**************************/

.navbar {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 2px;
    width: 100%;

    .navbar-brand {
        font-size: 20px;
        font-weight: bold;
    }

}

#sidebar-nav {
    background: white;
    width: 250px;
    height: 100%;
}

.add-new-board {
    background: white;
    font-size: 20px;
    padding: 20px 168px 5px 20px;
    
    text-transform: lowercase;
    font-variant: small-caps;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.board {

    // scrollable bar off screen
    height: 40rem;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(grey, 0.5);
        padding: 8px 15px;

        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;
            height: fit-content;
            // max-width: 300px;

            .board-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;
                

                min-width: 300px;
                margin: 50px;
                padding: 25px;

                border-radius: 4px;
                background: rgba(white, 0.5);

                &:not(:first-child) {
                    margin-left: 0;
                }

                .column-title {
                    font-size: 20px;
                    font-weight: 800;
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

            }

        }

    }

}

.tasks-container {
    flex-grow: 1;
    overflow-y: auto;
}

.task {
    display: flex;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;

    margin-bottom: 15px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
        0 3px 14px 2px rgba(0, 0, 0, 0.05);
}